* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 135%;
}
.card {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 6%);
}

.card > .card-image {
  display: block;
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.card > .card-image:hover {
  opacity: 0.75;
}

.card-title {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 15px;
  font-weight: 400;
}

.card-description {
  display: inline;
  color: #aaa;
  font-size: 14px;
  line-height: 22px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
}

.card-date-section {
  margin-top: 16px;
  color: #aaa;
}
.date {
  display: inline-block;
  margin-right: 8px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.tag {
  text-decoration: none;
  color: #aaa;
}

.div-title {
  padding: 35px;
}
